{% extends 'base.html' %}

{% block content %}
    <div class="container py-3">
        <h1>Create a New Product</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category" required>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="img_url">Image URL</label>
                <input type="url" class="form-control" id="img_url" name="img_url" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Create Product</button>
        </form>
    </div>
{% endblock %}

